


.uk-grid { 
	margin: 0;
}

.uk-grid > * {
	padding: 1%;
	box-sizing: border-box;
}

.grid-item {
	width: 25%;
}


@media (max-width: $large-device) {
	.grid-item {
		width: 33%;
	}
}


@media (max-width: $small-device) {
		.grid-item {
			width: 50%;
		}
}