
$image-max-width: 30em;
$button-max-width: $image-max-width/2;

#bet {
	background: url(images/selfie.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100%;
	overflow: auto;
	.back-btn {
		font-size: 5em;
		margin: 5px 0 0 5px;
	}
	@media (min-width: $small-device) {
		margin-top: 2em;
		height: 90%;
	}

}