
$image-max-width: 30em;
$button-max-width: $image-max-width/2;

#bet {
	background-color: #48a1a1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-flow: column;
	position: relative;

	.bet-loading {
		width: 33vh;
	    margin: 0% auto;
	    padding: 33vh 0;
	    color: #FAFAFA;
	    font-size: 33vh;
	}

	.bet-response {
		position: absolute;
		text-align: center;
		background-color: #48a1a1;

		i {
			margin-top: 40%;
			font-size: 10em;
		}
		div {
			font-size: 4em;
		}
		top: 0%;
		left: 0%;
		bottom: 0%;
		right: 0%;
	}

	.response-correct.response-enter.response-enter-active{
		color: #ffffff;
		background-color: $bet-correct-color;

	}

	.response-incorrect.response-enter.response-enter-active{
		color: #ffffff;
		background-color: $bet-incorrect-color;

	}

	.response-enter {
		background-color: transparent;
		color: transparent;

		transition: all .3s ease-out, color 0.4s linear .4s;
	}


	@media (min-width: $small-device) {
		margin-top: 2em;
		height: 90%;
	}
	.choices-container {
		width: 100%;
		margin-top: auto;
		margin-bottom: 50px;
	}
	.choice {
		display: inline-block;
		width: 25%;
		div {
			margin: 10%;
			transition: scale .2s ease-in;
		}
		div:hover {
			transform: scale(1.1);
		}
		
	}
}