
$thumbnail-size: 100%;
$image-height: 250px;
#feed {
	height: 100%;
	.uk-grid {
		background-color: $background-color;
		background-image: url("images/background.png");
		padding: 1%;
		box-sizing: border-box;
	}

	img {
		width: 100%;
		height: $image-height;
	}

	.uk-thumbnail {
		padding: 0;
		border: 0;
		box-shadow: 2px 2px 5px 0px rgb(68, 65, 68);
		&:hover {
			@media (min-width: $small-device){
				transform: scale(1.1);
				transition: all .2s ease;
				.bet-marker {
	    			@include animate(tilt, .2s, infinite, linear);
				}
			}
    	} 
	}

	.thumbnail-visited {
		&:hover {
			transform: none;
			.bet-marker{
				animation: none;
			}
		}
	}

	.uk-overlay {
		background-color: #000;
		border: 3px solid #E0E0E0;
		.picture {
			opacity: .6;
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: blur(5px);	
		}

		&:hover {
			.picture {
				opacity: .4;
			}
		}

		.bet-marker {
			position: absolute;
			width: 50%;
    		height: 50%;
    		top: 25%;
    		left: 25%;
		}

		.pot {
			width: 20%;
			height: 20%;
			top: 70%;
			left: 10%;
		}
	}


	.inset-bet-correct {
		border: 3px solid #4CAF50;
	}

	.inset-bet-incorrect {
    	border: 3px solid #F44336;
	}

	.fixed-container {
		position: fixed;
		top: 0%;
	 	left: 0%;
	}

	.score {
		font-size: 300%;
		font-weight: 300;
		color: white;
		background-color:rgba(0,0,0,0.7);
		padding: 14px;
		border-radius: 4px;
	}

	.picture-visited {
		opacity: .4;
	}

	.countdown-container {
		position: absolute;
	    bottom: 10%;
	    right: 10%;
	    color: #E0E0E0;
	    div {
	    	display: inline-block;
	    }
	    font-family: monospace;
    	font-size: 150%;
	}

	button {
		padding: 0;
		border: 0;
	}



	@media (max-width: $small-device) {
		img {
			height: $image-height * .75;
		}
		.uk-grid, .uk-grid > * {
			padding: 0%;
		}
		.uk-overlay, .inset-green, .inset-red {
			border: 0;
		}
		.uk-thumbnail {
			border: .5px solid #eee;
		}
		.inset-bet-correct {
			box-shadow: inset 0px 0px 6px 5px rgb(110, 245, 133);
		}
		.inset-bet-incorrect {
			box-shadow: inset 0px 0px 6px 5px rgba(242,78,111,1);
		}
	}
}
