
$thumbnail-size: 100%;
$image-size: 250px;

#feed {
	background-color: $primary-color;

	img {
		width: 100%;
		height: $image-size;
	}

	.grid-item {
		width: 25%;
	}

	@media (max-width: $large-device) {
		.grid-item {
			width: 33%;
		}
	}

	@media (max-width: $medium-device) {
		.grid-item {
			width: 50%;
		}
		img {
			height: $image-size * .75;
		}
	}


	.uk-grid { 
		margin: 0;
	}

	.uk-grid > * {
		background-color: $primary-color;
		padding: 0;
	}

	.uk-thumbnail {
		padding: 0;
	}

	.uk-overlay {
		background-color: #000;
		.picture {
			opacity: .6;
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: blur(5px);
		}
		&:hover {
			.picture {
				opacity: .4;
			}
		}

		.pot {
			position: absolute;
    		bottom: 10%;
    		left: 10%;
    		width: 15%;
    		height: 15%;
    		opacity: 1;
		}
	}

	.inset-green {
		box-shadow: inset 0px 0px 6px 5px rgb(110, 245, 133);
	}

	.inset-red {
		box-shadow: inset 0px 0px 6px 5px rgba(242,78,111,1);
	}

	.fixed-container {
		position: fixed;
		top: 0%;
		left: 0%;
	}

	.score {
		text-align: right;
		font-size: 150%;
		font-weight: 100;
		color: white;
		background-color:rgba(0,0,0,0.7);
		padding: 6px;
		border-radius: 4px;
	}


	.picture-visited {
		opacity: .4;
	}

	.countdown-container {
		position: absolute;
	    bottom: 10%;
	    right: 10%;
	    color: #E0E0E0;
	    div {
	    	display: inline-block;
	    }
	    font-family: monospace;
    	font-size: 150%;
	}

	button {
		padding: 0;
		border: 0;
		&:hover {
			opacity: .6;
		}
	}
}
