
$thumbnail-size: 100%;

#feed {

	.uk-grid { 
		margin: 0;
	}

	.uk-grid > * {
		background-color: $primary-color;
		padding: 0;
	}

	.uk-thumbnail {
		padding: 0;
	}

	.uk-overlay {
		background-color: #000;
		.picture {
			opacity: .6;
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: blur(5px);
		}
		&:hover {
			.picture {
				opacity: .4;
			}
		}

		.pot {
			position: absolute;
    		bottom: 10%;
    		left: 10%;
    		width: 15%;
    		opacity: 1;
		}
	}

	.picture-visited {
		opacity: .4;
	}

	.countdown-container {
		position: absolute;
	    bottom: 10%;
	    right: 10%;
	    color: white;
	    font-size: 100%;
	    div {
	    	display: inline-block;
	    }
	}
}
