#camera-tile {
	button {
		height: $image-height;
		img {
			width: 70%;
			height: .7*$image-height;
		}
		transition: all .2s linear;
	}
	.uk-thumbnail:hover {
		button {
			opacity: .7;
		}
	}
	@media (max-width: $small-device){
		display: none;
	}
}