@import '../modules/colors';

#take-picture {
	position: relative;

	display: flex;
	flex-flow: column;
	align-items: center;

	height: 100%;

	// Margin collapse fix
	overflow: auto;

	text-align: center;

	h1 {
		// Don't grow in the flexbox
		flex: 0 1 auto;
		margin-top: 1em;
	}

	.emoji-container {
		// Take up all available room
		flex: 1 1 auto;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
	}

	img.emoji {
		width: 80%;
		max-height: 70vmin;
	}

	button {
		margin: 10px 0 0;
		padding: 0px 20px;

		min-height: 50px;
		line-height: 50px;
	}
}