<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Face Off!</title>
    <meta name="description" content="TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.min.css">

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- UI Kit -->
    <link rel="stylesheet" href="/uikit-2.26.2/css/uikit.css">
    <script src="/uikit-2.26.2/js/uikit.min.js"></script>

    <!-- UI Kit Notify -->
    <link rel="stylesheet" href="/uikit-2.26.2/css/components/notify.min.css">
    <script src="/uikit-2.26.2/js/components/notify.min.js"></script>
    

    <!--
    Thanks to Twitter for their Twemoji library
    https://github.com/twitter/twemoji
    (CC-BY 4.0 Attribution)
    -->
    <script src="https://twemoji.maxcdn.com/2/twemoji.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="react-root"></div>

    <!-- Post page-load scripts -->
    
</body>